* {
  margin: 0;
}

html, body {
  height: 100%;
  font-size: 1.8rem;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 62.5%;
  color: white;
  background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%);
}

body {
  font-size: 1.8rem;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

footer, .push {
  height: 7rem;
}

footer .footer-contents {
  padding: 0 5rem;
  position: relative;
}

.graphic {
  order: 1;
  min-width: 480px;
}

.message {
  order: 0;
}

.page-content {
  padding: 1rem 5rem;
}

.page-content p {
  margin-bottom: 1rem;
}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 4000;
  animation: dash 3s linear 0s alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
 } 
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 512px) {
  .html {
    font-size: 50%;
  }
 
  .graphic {
    min-width: 240px;
  }
}

@media (max-height: 512px) {
  .html {
    font-size: 50%;
  }
 
  .graphic {
    min-width: 240px;
  }
}

@media (orientation: portrait) and (min-height: 560px) {
  .graphic {
    width: 80%;
  }
}

@media (orientation: landscape), (min-width: 1024px) {
  .html {
    font-size: 100%;
  }
  
  .container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .graphic {
    order: 0;
    min-width: 360px;
  }

  .message {
    order: 1;
  }
}
